@{
    ViewData["Title"] = "Contact Us";
}

<div class="wide-dark-box">
    <h1 class="text-center">CONTACT US</h1>
    <h2>Ibhayi Pharmacy Contact Information</h2>

    <p>
        Have questions about your prescription or need help with our online system? We’re here to assist you.
    </p>

    <h3>General Inquiries:</h3>
    <p>Email: <a href="mailto:info@ibhayipharmacy.co.za">info@ibhayipharmacy.co.za</a></p>
    <p>Phone: (011) 5234-567</p>

    <h3>Address:</h3>
    <p>
        24 Admiral Way,<br>
        Summerstrand, Gqeberha,<br>
        Nelson Mandela Bay, 6001
    </p>

    <h3>Operating Hours:</h3>
    <p>Monday to Friday: 08:00 – 18:00<br>Saturday: 09:00 – 13:00<br>Closed on Sundays and Public Holidays</p>
</div>
